@import "tailwindcss";

@layer components {
  .line_left {
    @apply 
      after:content-[''] after:absolute after:left-0.5 after:top-0 
      after:w-[2px] after:h-full 
      after:bg-gradient-to-b after:from-[#E03609] after:to-[#F0B71F]
      z-[10]; /* ১০০ থেকে কমিয়ে ১০ করে দিন */
  }

  .line_right {
    @apply 
      before:content-[''] before:absolute before:right-0 before:top-0
      before:w-[2px] before:h-full
      before:bg-gradient-to-t before:from-[#E03609] before:to-[#F0B71F]
      z-[10]; /* ১০০ থেকে কমিয়ে ১০ করে দিন */
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dive{
  background-image: url(/diveone.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
} 